body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: sans-serif;
}

.side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.side a {
    background: #e74c3c;
    color: #fff;
    font-size: 22px;
    display: block;
    width: 130px;
    padding: 12px;
    text-decoration: none;
    margin: 8px 0;
    color: #fff;
    border-radius: 6px;
    margin-left: -100px;
    transition: 0.5s;
}

.side a:hover {
    margin-left: 0px;
}